
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --dark-blue: hsl(214, 17%, 51%);
    --light-grayish-blue: hsl(210, 46%, 95%);
    --grayish-blue: hsl(212, 23%, 69%);
    --dark-grayish-blue: hsl(217, 19%, 35%);
}

body {
    font-family: Manrope sans, sans-serif;
    font-size: 1em;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-grayish-blue);

    h1 {
        display: none;
    }
}

.article {
    display: grid;
    grid-template-areas:
            "image"
            "advice"
            "author"
            "socials";
    background-color: white;
    margin: 6em 2em;
    border-radius: 1em;
    overflow: hidden;
    box-shadow: 1em 1em 2em var(--grayish-blue);

    picture {
        grid-area: image;

        img {
            vertical-align: middle;
            max-width: 100%;
        }
    }

    .advice {
        grid-area: advice;
        padding: 2em 2em 1.1em 2em;

        h2 {
            font-size: 1.2em;
            margin-bottom: 1em;
            line-height: 1.2em;
        }

        p {
            font-size: 0.9em;
            line-height: 1.5em;
        }
    }

    #author {
        grid-area: author;
        display: flex;
        flex-direction: row;
        gap: 0.9em;
        margin: 1em 2em 1.2em 2em;

        .avatar {
            width: 2.5em;
            height: 2.5em;
            border-radius: 50%;
        }

        address {
            flex-grow: 2;
            font-style: normal;
            white-space: nowrap;

            p {
                font-weight: bolder;
            }

            time {
                font-weight: 50;
                font-size: 0.9em;
            }
        }

        .share {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: end;
            width: 2.5em;
            height: 2.5em;
            border-radius: 50%;
            background-color: var(--light-grayish-blue);
            color: var(--grayish-blue);
            cursor: pointer;

            svg {
                padding: 0.5em;
            }
        }

        &.show-socials {
            display: none;
        }
    }

    #socials {
        grid-area: socials;
        display: none;
        align-items: center;
        gap: 0.65em;
        color: var(--light-grayish-blue);
        background-color: var(--dark-grayish-blue);
        padding: 1em 2em 1.2em 2em;

        .label {
            letter-spacing: 0.6em;
        }

        .share {
            flex-grow: 1;
            display: flex;
            align-items: center;
            justify-content: end;
            cursor: pointer;

            svg {
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: end;
                width: 2.5em;
                height: 2.5em;
                --share-arrow: var(--light-grayish-blue);
                background-color: var(--grayish-blue);
                padding: 0.6em;
            }
        }

        &.show-socials {
            display: flex;
        }
    }
}

@media screen and (min-width: 41em) {
    article.article {
        max-width: 41em;
    }
}

@media screen and (min-width: 60em) {
    article.article {
        max-width: 60em;
        grid-template-rows: 1fr auto auto;
        grid-template-columns: 1fr 2fr;
        grid-template-areas:
                "image advice"
                "image author"
                "image socials";
    }
}
