
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --dark-blue: hsl(214, 17%, 51%);
    --light-grayish-blue: hsl(210, 46%, 95%);
    --grayish-blue: hsl(212, 23%, 69%);
    --dark-grayish-blue: hsl(217, 19%, 35%);
}

body {
    font-family: Manrope sans, sans-serif;
    font-size: 1em;
    color: var(--dark-grayish-blue);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-grayish-blue);

    h1 {
        display: none;
    }
}

button:active,
button:focus,
button:hover,
button {
    border: none;
    background-color: transparent;
}

.article {
    display: grid;
    grid-template-areas:
            "image"
            "advice"
            "author"
            "socials";
    background-color: white;
    margin: 6em 2em;
    border-radius: 1em;
    overflow: hidden;
    box-shadow: 1em 1em 2em var(--grayish-blue);

    picture {
        grid-area: image;

        img {
            vertical-align: middle;
            max-width: 100%;
        }
    }

    .advice {
        grid-area: advice;
        padding: 2em 2em 1.1em 2em;

        h2 {
            font-size: 1.2em;
            margin-bottom: 1em;
            line-height: 1.2em;
        }

        p {
            font-size: 0.9em;
            line-height: 1.5em;
        }
    }

    #author {
        grid-area: author;
        display: flex;
        flex-direction: row;
        gap: 0.9em;
        padding: 1em 2em 1.2em 2em;
        anchor-name: --author-anchor;

        .avatar {
            width: 2.5em;
            height: 2.5em;
            border-radius: 50%;
        }

        address {
            flex-grow: 2;
            font-style: normal;
            white-space: nowrap;

            p {
                font-weight: bolder;
            }

            time {
                font-weight: 50;
                font-size: 0.9em;
            }
        }

        .share {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: end;
            width: 2.5em;
            height: 2.5em;
            border-radius: 50%;
            background-color: var(--light-grayish-blue);
            color: var(--grayish-blue);
            cursor: pointer;

            svg {
                padding: 0.5em;
            }
        }
    }
}

#socials-popover {
    align-items: center;
    gap: 0.65em;
    color: var(--grayish-blue);
    background-color: var(--dark-grayish-blue);
    padding: 1.2em 2em 1.5em 2em;
    position-anchor: --author-anchor;

    .label {
        letter-spacing: 0.6em;
    }

    div:last-child {
        align-self: end;
    }

    .share {
        display: flex;
        align-items: center;
        justify-content: end;
        cursor: pointer;

        svg {
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: end;
            width: 2.5em;
            height: 2.5em;
            --share-arrow: var(--light-grayish-blue);
            background-color: var(--grayish-blue);
            padding: 0.6em;
        }
    }
}

@media screen and (width < 41em) {
    article.article {
        max-width: 41em;
    }

    #socials-popover {
        top: anchor(top);
        left: anchor(left);
        right: anchor(right);
        bottom: anchor(bottom);
    }

    #socials-popover:popover-open {
        display: grid;
        grid-template-columns: 3fr 1fr 1fr 1fr 5fr;
        border: none;
        border-bottom-right-radius: 1em;
        border-bottom-left-radius: 1em;
    }
}

@media screen and (min-width: 41em) {
    article.article {
        position: relative;
        max-width: 50em;
        grid-template-rows: 1fr auto;
        grid-template-columns: 22.5em 2fr;
        grid-template-areas:
                "image advice"
                "image author";
    }

    #socials-popover::before {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        top: 3.6em;
        left: 43%;
        border-left: 1em solid transparent;
        border-right: 1em solid transparent;
        border-top: 1em solid var(--dark-grayish-blue);
    }

    #socials-popover {
        gap: 1em;
        font-size: 0.75rem;
        inset: auto;
        left: anchor(65%);
        bottom: anchor(top);
        border-radius: 0.5em;
        padding: 1em 2em;
        overflow: visible;

        & .share {
            display: none;
        }
    }

    #socials-popover:popover-open {
        display: grid;
        grid-template-columns: repeat(4, auto);
        border: none;
    }
}
